/*Decorating Style is Started*/
body {
    background-image: url("../images/book11.jpg");
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

marquee {
    color: white;
    border: 1px ;
    border-collapse: collapse;
}
th {
    border:  1px solid;
    border-collapse:  collapse;
}

td {
    border: 1px solid;
    padding: 11px;
    font-size: 17px;
}

a {
    text-decordyation: none;
}
th {
    border: 1px solid;
    border-collapse: collapse;
    background-color: #7fff0042;
}
button#btnView {
    padding: 7px;
    border:  0px;
    background-color:  chartreuse;
    border-radius:  10px;
    width: 65px;
}

button#btnEdit {
    padding: 7px;
    border: 0px;
    background-color: #FF5722;
    border-radius: 10px;
    width: 65px;
}

button#btnDelete {
    padding: 7px;
    border: 0px;
    background-color: #00eaff;
    border-radius: 10px;
    width: 65px;
}
html {
    margin:  auto;
}

.table-container {
    margin:  auto;
    text-align:  center;
    width: 82%;
    margin-left:7%;

}

.index-container {
    width: 80%;
    margin:  auto;
    background-color: rgba(0, 6, 0, 0.3);

}

h1#header-text {
    margin-top: 5px;
    text-align:  center;
}
div#header {
}
hr {
    margin-top: -10px;
}
footer {
    width:  100%;
    background-color:  black;
    height: 150px;
}
label#text,#text1,#text2,#text3,#text4 {
    color:  white;
    font-size:  20px;
    padding: 10px;

}

input[type="file"] {
    font-size:  20px;
    color: #fbfbfb;
}

table {
    border: 1px;
    border-collapse: collapse;
    background-color: rgb(0,0,0,0.5);
    color: white;
    margin-left: 10%;
}

th {
    border:  1px solid;
    border-collapse:  collapse;
}

td {
    border: 1px solid;
    padding: 11px;
}

a {
    text-decoration: none;
}
th {
    border: 1px solid;
    border-collapse: collapse;
    background-color: #85ff0cab;
}
button#btnView {
    padding: 7px;
    border:  0px;
    background-color:  chartreuse;
    border-radius:  10px;
    width: 65px;
}

button#btnEdit {
    padding: 7px;
    border: 0px;
    background-color: #2be1ff;
    border-radius: 10px;
    width: 65px;
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}
@keyframes shake {
    0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

button#btnDelete {
    padding: 7px;
    border: 0px;
    background-color: #e81100;
    border-radius: 10px;
    width: 65px;
}
html {
    margin:  auto;
}

.table-container {
    margin:  auto;
    text-align:  center;
    width: 82%;
}

.index-container {
    width: 80%;
    margin:  auto;
}

h1#header-text {
    margin-top: 5px;
    text-align:  center;
    color:  white;
    text-decoration: underline;
}
div#header {
    margin:  auto;
    width:  100%;
    height: 290px;
    background-image: url("images/english_books-banner.png");
    border: 7px double #f5feff;
    background-color:  cadetblue;
}
hr {
    margin-top: -10px;
}
footer {
    width:  100%;
    background-color:  black;
    height: 150px;
    margin-top: 30px;
    display:  flex;
    justify-content:  space-evenly;
}
div#left {
    color:  white;
    width: 30%;
    margin: -10px;
}

div#right {
    width: 30%;
    background-image: url("images/Googlemap.jpg");
    background-position-x:  center;
    background-size: 44%;
}
img#add {
    display: flex;
    padding: 6px;
    margin-left: 7%;
}
img#add:hover {
    -webkit-transform-origin: top center;
    -ms-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}
header-text{
    font-size:40px;
    font-weight:bold;
    color:#4794D3;
    width:300px;
    margin:90px auto;

    -webkit-animation: appear 3s ease 0s infinite normal ;
    animation: appear 3s ease 0s infinite normal ;
}
@-webkit-keyframes appear {
    0%{
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    60%{
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
}
@keyframes appear {
    0%{
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    60%{
        opacity: 1;
        transform: scale3d(1,1,1);
    }
}
.create-container {
    margin-left: 34%;
    width: 45%;
}

h1 {
    text-align:  center;
    color:  white;
    font-size: 50px;
    margin-top: -22%;
}

input {
    width: 50%;
    height:  25px;
    margin: 5px;
}

input[type="submit"] {
    width: 23%;
    background-color:  aqua;
    border:  0px;
    height:  40px;
    font-size:  25px;
    font-family:  monospace;
}
input[type="submit"]:hover{
    background-color: #FF5722;
    transition: 1s;
    color: white;
}
#formCreate{
    border:8px double blue;
    padding: 10px;
    margin: 10px;
    background-color: rgba(0,0,0,0.5);
}
div#favorite-book {
    text-align:  center;
}

p#find-book {
    color: white;
    margin-top: 35px;
    font-family:  monospace;
    font-size:  25px;
    text-decoration:  underline;
}
#books{
    margin: 4px;
    border: 2px solid white;
}
p#total {
    color: white;
    font-size: 20px;
    margin: auto;
    margin-left: 40%;
}
button#btnKhmer {
    width:  70px;
    height:  47px;
    color:  blue;
    font-size:  20px;
    background-image: url(images/cambodia.png);
    background-size: 100%;
    border: 0px;
}
button#btnEnglish {
    width: 70px;
    height: 36px;
    color:  blue;
    font-size:  20px;
    background-image: url(images/english.jpg);
    background-size: 100%;
    border: 0px;
}

button#btnKorea {
    width: 70px;
    height: 42px;
    color:  blue;
    font-size:  20px;
    background-image: url(images/korea.jpg);
    background-size: 100%;
    border: 0px;
}

button#btnThai {
    width: 70px;
    height: 47px;
    color:  blue;
    font-size:  20px;
    background-image: url(images/thai.jpg);
    background-size: 100%;
    border: 0px;
}
p#languageText {
    font-size: 20px;
    color: white;
}
#newBOok{
    margin-top: 4%;
}
div#language {
    margin: 4px;
}

/*Decorating Style has ended*/
