<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Management</title>
    <link rel="stylesheet" href="style.css">
    <script src="ScriptLink/jquery.js"></script>
    <script src="sc.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <div class="index-container">
        <!--Header Section-->
        <div th:replace="fragments/header-fragment::fr-header">

        </div>
        <!--End Header Section-->
        <marquee th:text="#{BookModels.marquee}">

            자연과 만 비교할 수있는 행복감을 잊어 버렸습니다. 긴 기진에서 깨어나는 것입니다.
            자연과 만 비교할 수있는 행복감을 잊어 버렸습니다. 긴 기진에서 깨어나는 것입니다.
            자연과 만 비교할 수있는 행복감을 잊어 버렸습니다. 긴 기진에서 깨어나는 것입니다.

        </marquee>
        <hr>

        <!--Select the language Section-->
        <div id="language">
        <p id="languageText">Select Your Languages</p>

                <a href="http://localhost:1010/index?lang=km">
                    <button type="submit" lang="km" id="btnKhmer"></button>
                </a>
                <br>
                <a href="http://localhost:1010/index?lang=en">
                    <button type="submit" lang="km" id="btnEnglish"></button>
                </a>
                <br>
                <a href="http://localhost:1010/index?lang=korea">
                    <button type="submit" lang="km" id="btnKorea"></button>
                </a>
                <br>
                <a href="http://localhost:1010/index?lang=th">
                    <button type="submit" lang="km" id="btnThai"></button>
                </a>
        </div>
        <!--Close Select Language Section-->

        <h1 ​id="header-text" th:text="#{BookModels.h1}"​​>도서 관리 시스템</h1>

        <div class="table-container">

            <a href="/create">
                    <img src="images/folder_add.png" width="70px" height="70px" id="add">
            </a>
            <table id="table-index">
                <tr>
                    <th th:text="#{BookModels.id}">ID</th>
                    <th th:text="#{BookModels.title}">Title</th>
                    <th th:text="#{BookModels.author}">Author</th>
                    <th th:text="#{BookModels.publisher}">Publisher</th>
                    <th th:text="#{BookModels.thumbnail}">Thumbnail</th>
                    <th th:text="#{BookModels.categories}">Categories</th>
                    <th th:text="#{BookModels.action}">Actions</th>


                </tr>
                <tr th:each="book:${books}">
                    <td>[[${book.id}]]</td>
                    <td th:text="${book.getTitle()}">Title</td>
                    <td th:text="${book.getAuthor()}">Author</td>
                    <td th:text="${book.getPublisher()}">Publisher</td>
                    <td>
                        <img th:src="${book.getThumbnail()}" alt="Images" width="80px" height="80px">
                    </td>
                    <td th:text="${book.getCategories()}">Categories</td>
                    <td>
                        <a th:href="@{view/{id}(id=${book.getId()})}">
                            <button id="btnView">View</button>
                        </a>
                        <a th:href="@{update/{book_id}(book_id=${book.getId()})}">
                            <button id="btnEdit">Edit</button>
                        </a>
                        <a th:href="@{delete/{delete_id}(delete_id=${book.getId()})}">
                            <button id="btnDelete">Delete</button>
                        </a>
                    </td>

                </tr>
            </table>
            <p id="total" th:text="#{BookModels.total}" >Total Record </p>
        </div>

        <!--Find All Your Favorite Books-->

        <p id="find-book" th:text="#{BookModels.find}">가장 좋아하는 모든 책 찾기</p>
        <hr>
        <div id="favorite-book">

            <img src="images/1.jpg" width="120px" height="130px" id="books">
            <img src="images/2.jpg" width="120px" height="130px" id="books">
            <img src="images/3.jpg" width="120px" height="130px" id="books">
            <img src="images/4.jpg" width="120px" height="130px" id="books">
            <img src="images/5.jpg" width="120px" height="130px" id="books">
            <img src="images/3.jpg" width="120px" height="130px" id="books">
            <img src="images/1.jpg" width="120px" height="130px" id="books">
            <img src="images/2.jpg" width="120px" height="130px" id="books">

        </div>
        <hr>
    </div>
        <!--CLosing Find Book-->

        <!--Footer Section-->

        <footer th:replace="fragments/footer-fragment::fr-footer">
        </footer>

        <!--End Footer Section-->
    <script>
        $(document).ready(function () {
            $("#btnDelete").onclick(function () {
                confirm("Press Enter To delete!");
            })
        })

    </script>
</body>
</html>