<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        h1#update-text {
            text-align:  center;
            font-size:  40px;
            color: white;
        }

        form {
            border: 8px double blue;
            width:  40%;
            margin:  auto;
            padding: 10px;
            color: white;
            background-color: rgba(0,0,0,0.5);
            font-size: 20px;
        }

        input {
            width: 55%;
            height:  25px;
            margin: 6px;
        }

        input[type="submit"] {
            background-color: #84f303;
            height:  40px;
            font-size: 25px;
            color:  white;
            font-family:  cursive;
            border:  0px;
            width: 200px;
            margin-top:  20px;
            /* margin-left: 50px; */
        }
        input#txtId {
            width:  10%;
        }
        body {
            background-image: url("../images/book11.jpg");
            background-size: 100%;
            background-position: center;
            background-attachment: fixed;
        }
    </style>
</head>
<body background="image/79.jpg">

    <div class="update-container">

        </div>

        </div>
        <h1 id="update-text">Update Book Information</h1>

        <form action="/update/submit" method="post" th:object="${book}" enctype="multipart/form-data" id="formCreate">
            ID:(Already Generated)<br>
            <input title="text" th:field="*{id}" id="txtId" placeholder="Not Type"><br>

            Title
            <span th:if="${#fields.hasErrors()}" th:text="#{BookModels.error}" style="color: red" >More than 2 characters</span><br>
            <input type="text" th:field="*{title}"><br>


            Author
            <span th:if="${#fields.hasErrors()}" th:text="#{BookModels.error}" style="color: red">More than 2 characters</span><br>
            <input type="text" th:field="*{Author}"><br>


            Publisher
            <span th:if="${#fields.hasErrors()}" th:text="#{BookModels.error}" style="color: red" >More than 2 characters</span><br>
            <input type="text" th:field="*{publisher}"><br>


            <img th:src="${book.getThumbnail()}" alt="Images" width="130px" height="130px" id="thumbnail"><br>
            Select for New Thumbnail<br>
            <input type="hidden" th:field="*{thumbnail}">

            <input type="file" name="file"><br>
            <input type="submit" Value="Update">
        </form>
    </div>

</body>
</html>