<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Display</title>
    <link rel="stylesheet" href="viewCss/css.css">
    <style>
        body {
            background-image: url("../images/book11.jpg");
            background-size: 100%;
            background-position: center;
            background-attachment: fixed;
        }
        h1#text-view {
            font-size: 40px;
            text-align:  center;
            color: white;
        }

        .view-container {
            width: 45%;
            margin:  auto;
            border: 10px double #52ff00;
            padding:  10px;
            font-size: 25px;
            color:  white;
            text-shadow: 2px 2px #0e0c0c;
            background-color: rgba(0,0,0,0.5);
        }
        div#favorite-book {
            text-align:  center;
        }
        h2{
            margin-left: 400px;
            color: bisque;
            text-shadow: 2px 2px #0e0c0c;
        }
        img#thumbnail {
            margin-left: 100px;
        }
        #toHome{
            margin-top: 20px;
            margin-left: 400px;
            background-color: #52ff00;
            border:  0px;
            padding:  5px;
            width:  150px;
            height:  40px;
            color:  white;
            text-shadow: 2px 1px #000000;
            font-size: 20px;
            font-family:  monospace;
        }
    </style>
</head>
<body>
<h1 id="text-view" th:text="#{BookModel.view}">View Book Information</h1>

    <div class="view-container">
        <th:block th:object="${book}" id="Viewing Data">
            ID:[[*{id}]]<br>
            Title: [[*{title}]] <br>
            Author: [[*{author}]] <br>
            Publisher: [[*{publisher}]] <br>
            <!--Thumbnail: [[*{thumbnail}]]<br>-->
            Thumbnail <br>
            <img th:src="${book.getThumbnail()}" alt="Images" width="200px" height="200px" id="thumbnail"><br>
        </th:block>
    </div>
    <form action="/index" method="get">
        <input type="submit" value="Back To Home" id="toHome">
    </form>

    <h2>Looking for Your Favorite Book :)?<br>Check Them Beblow.</h2>
    <hr>
    <div id="favorite-book">

        <img src="/images/1.jpg" width="120px" height="130px" id="books">
        <img src="/images/2.jpg" width="120px" height="130px" id="books">
        <img src="/images/3.jpg" width="120px" height="130px" id="books">
        <img src="/images/4.jpg" width="120px" height="130px" id="books">
        <img src="/images/5.jpg" width="120px" height="130px" id="books">
        <img src="/images/3.jpg" width="120px" height="130px" id="books">
        <img src="/images/1.jpg" width="120px" height="130px" id="books">
        <img src="/images/2.jpg" width="120px" height="130px" id="books">

    </div>
    <hr>
</body>
</html>